html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* hide scrollbar */
/* ================================ */
* {
  /* for explorer, edge */
  -ms-overflow-style: none; 
  /* for firefox */
  scrollbar-width: none;
}
::-webkit-scrollbar {
  /* for chrome, safari, and opera */
  display: none;
}
/* ================================ */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
